/* Page Styles
================================ */
html,
body {
 height: 100%;
}

body {
  font: normal 1.1em/1.5 Century Gothic, San-Serif;
  color: white;     
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-wrapper { 
  height: 100%;
  width: 100%; /*1263px*/
  border: .3125em solid white;
}

/* Layout Element Colors
================================ */

.main-wrapper          { background-color: #edeff0; }
.time-stamp            { background-color: white; }
.time-stamp-content    { background-color: rgb(102, 179, 255);}
.smll-reports          { background-color: white; }
#chrt1, #chrt2, #chrt3, #chrt4, #chrt5 { background-color: rgba(25, 25, 25, .3); }
.charts-header         { background-color: rgba(25, 25, 25, .6); }

/* Header, Body and Footer Layout
================================ */

.dash-head h2 { color: rgba(25, 25, 25, .6); }
.dash-head span{ font-size: .7em; color: rgb(102, 179, 255);}

.dash-head, .dash-head > * {
  display: inline-block;
  font-weight: normal;
  line-height: 0;
}

/*BODY ROW 1*/

.row {
  width: 100%;
  margin-bottom: .3125em;
}
.smll-reports {
  display: inline-block;
  vertical-align: middle;
  width: 23.37%;
  margin: 0 0 .9375em .75em;
  font-size: 1.37vw;
}
.smll-visual,
.smll-txt {
  display: table-cell;
  vertical-align: middle;
  height: 120px;
}
.smll-txt {
  line-height: 0;
  color: rgba(25, 25, 25, .6);
}

/*BODY ROW 2*/
.dash-body {
  width: 100%;
}

.charts-content {
  display: inline-block;
}
.charts-header { 
  padding: .3125em;
  display: table;
  width: 100%;
  height: 50px;
  font-size: 1.3vw;
}
#chrt1 {
  width: 49%;
  margin-left: .75em;
  margin-right: .1875%;
}
#chrt2,
#chrt3 {
  width: 23.52%;  
  margin-right: .65%;
}

/*BODY ROW 3*/
#chrt4 {
  width: 59.85%;
  float:left;
  margin-left: 12px;
  margin-right: 8px;
}
#chrt5 { 
  width: 37.37%;
  float:left;
}

/* Images
================================ */
.smll-imgs{  
  border-radius: 50px;
  padding: 2px;
  margin: 0 30px 0 10px;
}
#Image2 {
  background-color: rgb(255,180,193);
}
#Image3 {
  background-color: rgb(149,202,255);
}
#Image4 {
  background-color: rgb(166,255,106);
}
#Image5 {
  background-color: rgb(255,255,136);
}

/* Clearfix
================================ */

.group::after {
  content: " ";
  display: table;
  clear: both;
}

/* Body Containers Style
================================ */
.charts-header > * {
  display: inline;
  vertical-align: middle;
  margin-left: 5px;
  line-height: 0px;
}
#ASPxBinaryImage1 {
  height: 100%;
  max-width: 40px;
}
.charts-header p{
  font-size: 14px;
  float: right;  
}

.charts-header p > *{
  font-weight: bold;
  font-size: 16px;
  color: rgb(166,255,106);
}

.charts_body {
  display: table;
}
.charts_body > * {
  float: left;
  margin-left: 8px;
}
.charts-header h3{
  font-weight: normal;
}


/*Media Query*/
@media screen and (max-width: 1235px) {
.charts-header {
  font-size: 1vw;
}

}

@media screen and (max-width: 1024px) {
#chrt2 > *{
  font-size: .9vw;
}  
}

@media screen and (max-width: 970px) {
.smll-reports {
  display: inline-block;
  width: 48%;
  font-size: 2vw;
}

#chrt1 { width: 65%; }
#chrt2 { width: 32%; margin-right: 0;}
#chrt3 { 
  width: 28%;
  margin-left: 1.7%;
  margin-right: 0;
  float: left;
}
#chrt4 {
  display: inline;
  width: 68.5%;
  float: left;
  margin-right: 0;
}
#chrt5 {
  margin: .4em 0 0 1.7%;
  width: 97.78%;  
}
}

@media only screen and (width: 708px) {
.smll-reports { 
  display: block;
  width: 97%;  
}
#chrt1 { width: 96.5%; }
#chrt2, #chrt3{ width: 48%; margin-right: .6%;}

#chrt4, #chrt5 { width: 96.5%; }

}
@media only screen and (-webkit-device-pixel-ratio:3.0) {
.smll-reports { 
  display: block;
  width: 97%;  
}
#chrt1 { width: 96.5%; }
#chrt2, #chrt3{ width: 48%; margin-right: .6%;}

#chrt4, #chrt5 { width: 96.5%; }

}